.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: none;
}

.title {
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1.15;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splashArrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
}

.title,
.description {
  text-align: center;
  z-index: 1;
}

.description {
  font-size: 1.5rem;
  width: 55%;
}

.splash {
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
  height: 90vh;
  width: 100%;
  overflow: none;
}

@media (max-width: 780px) {
  .image {
    object-fit: cover;
  }

  .splashArrow {
    left: 45%;
  }

  .splash {
    height: 91.5vh;
  }
}

@media (max-width: 660px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .splashArrow {
    left: 42%;
  }

  .splash {
    height: 87vh;
  }
}
