.login {
  max-width: 20rem;
  margin: 5rem auto 0;
  padding: 1rem;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 0px 6px 6px #f7f7f7;
  box-sizing: border-box;
}

.formHeader {
  font-size: 1.5em;
  margin: 25px 0;
}

.inputWrapper {
  width: 80%;
  margin: 0 auto 20px;
}

.orLoginWith {
  margin: 25px 0;
  font-size: 0.7em;
  text-align: center;
  color: gray;
}

.socialBtn {
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 1px solid #8a8a8a;
  padding: 9px 24px 9px 35px;
  width: 80%;
  font-size: 1em;
  background-color: #fff;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 23% 50%;
}

.magicBtn {
  font-size: 0.8em;
}

.redirecting {
  color: gray;
  font-size: 0.6em;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .login {
    margin-top: 10rem;
    max-width: 35rem;
    font-size: 30px;
  }

  .input {
    padding: 0.7rem 0.75rem;
    margin: 0.75rem auto;
  }
}

@media (max-width: 768px) {
  .login {
    margin-top: 5rem;
  }
}

@media (max-width: 600px) {
  .login {
    margin-top: 0;
    border: 0;
    box-shadow: none;
  }

  .input {
    padding: 0.4rem 0.75rem;
    margin: 0.6rem auto;
  }

  .magicBtn {
    font-size: 0.65em;
  }

  .socialBtn {
    font-size: 0.7em;
  }

  .orLoginWith {
    font-size: 0.5em;
  }
}
