.title {
  font-size: 1.2em;
  font-weight: 400;
  color: black;
  flex: 1;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 0.8em;
  color: lightslategray;
}

.sidebar {
  min-height: 100%;
  overflow-y: auto;
  position: absolute;
  z-index: 8000;
  white-space: nowrap;
}
