.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sideBarMenuContainer {
  position: fixed;
  height: 100%;
}

.title {
  font-size: 1.2em;
  font-weight: 400;
  color: black;
}

.subtitle {
  font-size: 0.8em;
  color: lightslategray; 
}

.close {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 20px;
}

nav.sidebar {
  -webkit-transition: margin 400ms ease-out;
  -moz-transition: margin 400ms ease-out;
  -o-transition: margin 400ms ease-out;
  transition: margin 400ms ease-out;
  min-height: 100vh;
  overflow-y: scroll;
}


/* .....NavBar: Fully showing nav bar..... */
@media (min-width : 1330px) {

  /*Show all nav*/
  nav.sidebar {
    margin-left: 0px;
    float: left;
  }
}


/*small/medium side display*/
@media (min-width : 768px) {

  /*allows nav box to use 100% width*/
  nav.sidebar :global(.navbar-collapse),
  nav.sidebar :global(.container-fluid) {
    padding: 0;
  }

  /*gives sidebar width/height*/
  nav.sidebar {
    height: 100%;
    margin-left: -25vw;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
    overflow: hidden;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar.expanded {
    margin-left: 0px;
    width: 25vw;
    text-overflow: ellipsis;
  }
}

@media (max-width : 786px) {
  /*allows nav box to use 100% width*/
  nav.sidebar :global(.navbar-collapse),
  nav.sidebar :global(.container-fluid) {
    padding: 0;
  }

  /*gives sidebar width/height*/
  nav.sidebar {
    margin-left: -100vw;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar.expanded {
    float: none;
    margin-left: 0px;
    text-overflow: ellipsis;
  }
}