.subtitle {
  font-size: 0.8em;
  color: lightslategray;
}

h3.header {
  font-size: 1.8em;
  margin: 1em 0;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
}

.video {
  max-width: 100%;
}

.ingredientList {
  flex-direction: row;
  columns: 2;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .printButton {
    display: none;
  }
}

@media (max-width: 600px) {
  .ingredientList {
    flex-direction: column;
  }
}
